<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LogOut</title>
        
 
        <style type="text/css">
    
            body
            {
                background-color: #eee;
                padding-top: 40px; 
            }
            
           
        </style>
    </head>

    <body>
        <div align= "center" class="container">
                        <h2>You have successfully logged out!</h2>
                                <button onclick= "window.location = '/'; " class="btn btn-primary" type="submit">OK</button>
			{{msg}}
        </div>
    </body>
</html>
