<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Permission Denied</title>
        
 
        <style type="text/css">
    
            body
            {
                background-color: #eee;
                padding-top: 40px; 
            }
        
        </style>
    </head>

    <body>
        <div align= "center" class="container">
                        <h2>Hey there!</h2>
                        <h3>You currently don't have access for this</h3>
                        <p>If you would like to request access. Please contact the webmaster</p>
                               <button onclick= "window.location = '/'; " class="btn btn-primary" type="submit">OK</button>
			{{msg}}
        </div>
    </body>
</html>
